
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>addemp</title>
</head>
<body>
    <h2>
        accept employee info
    </h2>
</body>
</html>
