@model mvcviewmodelapp.Models.fsviewmodel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>
        faculty info <br>
        facultyid:@Model.facultyinfo.fid <br />
        facultyname:@Model.facultyinfo.fname <br />
        <hr />
        student info<br />
        studid:@Model.studentinfo.sid <br />
        studname:@Model.studentinfo.sname
    </h2>











</body>
</html>
