
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" media="(max-width:700px)" href="~/content/mobile.css">
    <link rel="stylesheet" media="(min-width:720px)" href="~/content/desktop.css">
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>index view info</h2>
    <p>
        paragraph info
    </p>
</body>
</html>
