
@{
    ViewBag.Title = "aboutus";
   // Layout = "~/views/shared/_layoutpage1.cshtml";
}

<h2>display company profile</h2>
<script>
    document.getElementById("img1").src = "/images/2.jpg";//accessing layout page html element from normal view
</script>

