
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Scripts.Render("~/mybundle")
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <input type="button" id="b1" value="call f1" onclick="f1()" />
    <input type="button" id="b2" value="call f2" onclick="f2()" />







    
</body>
</html>
