
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>close</title>
</head>
<body>
    <h2>
        @TempData["name"].ToString() loggedout successfully
    </h2>
</body>
</html>
