
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>welcome</title>
</head>
<body>
    <h2>
        welcome to @TempData.Peek("name").ToString()
        <br />
        <a href="~/secure/tutorials">tutorials</a><br />
        <a href="~/secure/books">books</a> <br />
        <a href="~/secure/close">logout</a>
    </h2>






   
</body>
</html>
