
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>
        <a href="~/demo/tutorials">tutorials</a> <br />
        <a href="~/demo/books">books</a>
    </h2>
</body>








</html>
