@model mvcfiltersapp.Models.blogreader

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>store</title>
</head>
<body>
    name:@Model.name <br />
    comment: <br />
    @Html.Raw(Model.comment)
</body>









</html>
