
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>campus</title>
</head>
<body>
    @{
        Html.RenderPartial("_header");
    }
    <h2>
        display campus info
    </h2>
    <script>
        document.getElementById("title").innerHTML = "campus title..";
    </script>
</body>
</html>
