
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>classrooms</title>
</head>
<body>
    @{
        Html.RenderPartial("_header");
    }
    <h2>
        display classrooms info
    </h2>
</body>
</html>
