@model mvcmodelapp.Models.customermodel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index1</title>
</head>
<body>
    <h2>
        cid:@Model.custid <br />
        name:@Model.custname
    </h2>
</body>








</html>
