
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index1</title>
</head>
<body>
   <h2>
       welcome  xyz site <br />
       <a href="~/home/aboutus">aboutus</a>
   </h2>
</body>









</html>
