@model mvcdataannotationsapp.Models.usermodel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>store</title>
</head>
<body>
    <h2>
        name:@Model.name <br />
        password:@Model.password<br />
        cpassword:@Model.confirmpassword <br />
        addr:@Model.address <br />
        age:@Model.age <br />
        mobile:@Model.mobile 
    </h2>



   
</body>
</html>
