
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
   <h2>
       welcome to movies gallery site <br />
       <a href="~/movies/create">add movie</a> <br />
       <a href="~/movies/display">display movies</a>
   </h2>
</body>







</html>
