
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @{
        int a = 100;
        int b = 200;
    }
    <h2>
        sum:@(a+b)
    </h2>
    @for(byte i=1;i<=10;i++)
    {
        if(i%2==0)
        {
            <h3 style="color:green">
                even:@i
            </h3>
        }
        else
        {
            <h3 style="color:red">
                odd:@i
            </h3>
        }
    }
    <hr />
    <h2>
        emailid:xyz@gmail.com <br />
        tommorow class will be at @@7am
    </h2>
</body>











</html>
