@model HTMLHelperControls.Models.Storemodel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Save</title>
</head>
<body>
    <div>
        Weclome @Model.Name your gender is @Model.Gender
    </div>
</body>
</html>
