@model usermodel
<html>
<body>
    <h2>
        name:@Model.username <br />
        password:@Model.password <br />
        age:@Model.age <br />
        gender:@Model.gender <br />
        skillset:@Model.skillset <br />
        country:@Model.country <br />
        terms:@Model.termsaccepted
    </h2>
</body>
</html>
