
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>
        welcome to xyz company site <br />
        <a href="~/company/adddept">
            add department
        </a> <br />
        <a href="~/company/displaydepts">
            display depts
        </a> <br />
        <a href="~/company/addemp">
            add employee
        </a> <br />
        <a href="~/company/displayemps">
            display emps
        </a>
    </h2>













   
</body>
</html>
