
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>contactus</title>
</head>
<body>
    <h2>
        display company address
    </h2>
</body>
</html>
