
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <span><b>Employee Information</b></span>
    <div> 
        <table>
            <tr>
                <td>Employee Id</td>
                <td>@ViewBag.embag.EmployeeId</td>
            </tr>
            <tr>
                <td>Employee Name</td>
                <td>@ViewBag.embag.EmployeeName</td>
            </tr>
        </table>
    </div>
</body>
</html>
