@model mvcjqueryeventapp.Models.customermodel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>store</title>
</head>
<body>
    <h2>
        name:@Model.name <br />
        mobile:@Model.mobile
    </h2>
</body>








</html>
