
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/content/@Session["scss"].ToString()" />
    <meta name="viewport" content="width=device-width" />
    <title>login</title>
</head>
<body>
    <h3>
        login info
    </h3>
</body>
</html>
