
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>feedback</title>
</head>
<body>
    <h2>
        registered successfully.. 
        <a href="~/home/login">login</a>
    </h2>
</body>
</html>
