
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>
        xyz website <br />
        already registered user?
        <a href="~/home/login">login</a> <br />
        new user?
        <a href="~/home/register">register</a>
    </h2>
</body>





</html>
